<h2>Bulk Discounts</h2>

<%= link_to "Create Discount", "/merchant_employee/merchants/#{@merchant.id}/discounts/new", method: :get %>

<% @discounts.each do |discount| %>
  <section id='discount-<%= discount.id %>'>
    <h3><%= discount.name %></h3><%= link_to "Delete", "/merchant_employee/merchants/#{@merchant.id}/discounts/#{discount.id}", method: :delete %>
    <p>Percentage Off: <%= discount.percent_off %></p>
    <p>Bulk Minimum: <%= discount.bulk_minimum %></p>
  </section>
<% end %>
